# Dependencies
/node_modules
/.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output directory
/build
/contracts/**/*.json
/test/**/*.js
/migrations/**/*.js

# Logs
logs
*.log

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
~*
*.tmp

# Truffle
truffle-config.js
